.container-fluid {
      margin-right: auto;
      margin-left: auto;
      margin-top: 30px;
      max-width: 1200px; /* or 950px */
 }
.header-basic {
    background-color: #292c2f;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
    padding: 20px 40px;
    height: 80px;
    box-sizing: border-box;
}
.footer-basic {
    background-color: #292c2f;
    color: #eee;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
    padding: 10px 40px;
    height: 40px;
    box-sizing: border-box;
}

.header-basic .header-limiter {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}
    
.footer-basic .footer-limiter {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}
/* Logo */

.header-basic .header-limiter h1 {
    float: left;
    font: normal 28px Cookie, Arial, Helvetica, sans-serif;
    line-height: 40px;
    margin: 0;
}

.header-basic .header-limiter h1 span {
    color: #5383d3;
}

/* The header links */

.header-basic .header-limiter a {
    color: #ffffff;
    text-decoration: none;
}

.header-basic .header-limiter nav{
    font:16px Arial, Helvetica, sans-serif;
    line-height: 40px;
    float: right;
}

.header-basic .header-limiter nav a{
    display: inline-block;
    padding: 0 5px;
    text-decoration:none;
    color: #ffffff;
    font-size: 16px;
    opacity: 0.9;
}

.header-basic .header-limiter nav a:hover{
    opacity: 1;
}

.header-basic .header-limiter nav a.selected {
    color: #608bd2;
    pointer-events: none;
    opacity: 1;
}

/* Making the header responsive */

@media all and (max-width: 600px) {

    .header-basic {
	    padding: 20px 0;
	    height: 75px;
    }

    .header-basic .header-limiter h1 {
	    float: none;
	    margin: -8px 0 10px;
	    text-align: center;
	    font-size: 24px;
	    line-height: 1;
    }

    .header-basic .header-limiter nav {
	    line-height: 1;
	    float:none;
    }

    .header-basic .header-limiter nav a {
	    font-size: 13px;
    }

}

/* For the headers to look good, be sure to reset the margin and padding of the body */
    
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #38678f;
  margin: 50px auto;
  background: white;
}
.result-table {
    margin: 0 auto !important;
}
th {
  background: steelblue;
  height: 54px;
  /* width: 14.28571% !important; /* ??????????????????? */
  text-align:center;
  font-weight: lighter;
  text-shadow: 0 1px 0 #38678f;
  color: white;
  border: 1px solid #38678f;
  box-shadow: inset 0px 1px 2px #568ebd;
  transition: all 0.2s;
}
tr {
  border-bottom: 1px solid #cccccc;
}
tr:last-child {
  border-bottom: 0px;
}
td {
  border-right: 1px solid #cccccc;
  padding: 10px;
  transition: all 0.2s;
}
td:last-child {
  border-right: 0px;
}
td.selected {
  background: #d7e4ef;
  z-index: ;
}
td input {
  font-size: 14px;
  background: none;
  outline: none;
  border: 0;
  display: table-cell;
  height: 100%;
  width: 100%;
}
td input:focus {
  box-shadow: 0 1px 0 steelblue;
  color: steelblue;
}
::-moz-selection {
  background: steelblue;
  color: white;
}
::selection {
  background: steelblue;
  color: white;
}
.heavyTable {
  width:100%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  animation: float 5s infinite;
}
.page-header {
    border-bottom: 1px solid steelblue;
}
    
body {
    margin:0;
    padding:0;
    background: #eee;
    font-size:16px;
}
